* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background: #C54469;
}

.container {
  background: #fff;
  text-align: center;
  padding: 30px 0;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.flex > p {
  margin: 0 20px;
  font-size: 2em;
  color: #999;
}

.numbers > input {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid  #999;
}

.numbers > input[disabled] {
  background: #fff;
}

.numbers > input:focus {
  background: rgb(255, 249, 250);
}

.numbers > input::-webkit-inner-spin-button,
.numbers > input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn {
  background: lightgrey;
  color: #333;
  transition: all .2s ease;
}

.btn:focus {
  background: #333;
  color: #fff;
}

.btn:hover {
  position: relative;
  transform: translateY(-4px);
}